@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Index.css" />
<script type="text/javascript" src="~/js/Index.js"></script>

<div class="welcome-section content-hidden">
    <div class="content-wrap">
        <ul class="fly-in-text">
            <li>M</li>
            <li>A</li>
            <li>T</li>
            <li>R</li>
            <li>I</li>
            <li>X</li>
            <br />
            <li>C</li>
            <li>A</li>
            <li>L</li>
            <li>C</li>
            <li>U</li>
            <li>L</li>
            <li>A</li>
            <li>T</li>
            <li>O</li>
            <li>R</li>
        </ul>
        <a class="enter-button" asp-area="" asp-controller="Home" asp-action="HomePage">ENTER</a>
    </div>
</div>