h1 {
    padding-top: 40px;
    text-align: center;
    font-family: "Franklin Gothic Medium" ,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
    color: black;
}

.subtitle{
    font-size: 1.5em;
}

.imageOptions{
    text-align: center;
    padding-bottom:30px;
}

.image{
    display: inline-block;
    align-items:center;
    position:relative;
}

.image img{
    opacity: 1;
    width: 70%;
    transition: .3s ease;
    height: auto;
    padding: 20px;
}

.image-text {
    opacity: 0;
    transition: .3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image:hover img {
    opacity: .3;
    width: 75%;
    transition: .5s ease;
}

.image:hover .image-text{
    opacity: 1;
    transition: .5s;
}

.text {
    font-size: 3em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: black;
}

table {
    display: table;
    border-collapse: separate;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
}

.matrixTable th:nth-child(1) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 3px;
}

.matrixTable th {
    padding: 0px;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}

.matrixTable {
    border-spacing: 0px;
    border-collapse: separate;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.matrixTable th:nth-child(3) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 3px;
}