a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a.nav-item{
    text-decoration:none;
    color:whitesmoke;
}

a.nav-item:hover{
    color: #8c8c8c;
}

a.nav-item:active{
    color: #595959;
}

li{
    margin-left: 20px;
}
